:where(.css-dev-only-do-not-override-m4timi).ant-select-dropdown .ant-select-item-option-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    img{
        width: 20px;
        height: 20px;
    }
}
:where(.css-dev-only-do-not-override-m4timi).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector{
    border-color: transparent !important;
}

:where(.css-dev-only-do-not-override-m4timi).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
    border-color: transparent !important;
}

.ant-select.ant-select-outlined{
    box-shadow: none !important;
    border-color: transparent !important;
    .ant-select-selector{
        box-shadow: none !important;
        outline: none;
        border-color: transparent;
    }
    &:hover{
        box-shadow: none !important;
        .ant-select-selector{
            box-shadow: none !important;
            outline: none;
            border-color: transparent;
        }
    }
    .ant-select-selection-item,
    .ant-select-item-option-content{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        img{
            width: 20px;
            height: 20px;
        }
    }
}

.home-manager{

    font-family: inherit;

    .header {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        font-size: 15px;
        height: 80px;
        max-height: 80px;
        border-bottom: 1px solid #f2f4f7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .header_desk{
            max-width: 1208px;
            width: 90%;
            margin: auto;
            .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0;
                .content-left{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 35px;
                    .logo{
                        width: 128px;
                    }
                    a{
                        cursor: pointer;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        font-size: 15px;
                        line-height: 24px;
                        color: #667085;
                        font-weight: 400;
                        -webkit-transition: .15s all;
                        transition: .15s all;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        &:hover{
                            color: #2f80ed;
                        }
                    }
                }
                .content-right{
                    display: flex;
                    justify-content: flex-end;
                    gap: 35px;
                    align-items: center;
                    .btn-signin{
                        font-size: 15px;
                        line-height: 24px;
                        color: #fff;
                        border: 1px solid rgba(0, 0, 0, 0);
                        border-radius: 8px;
                        padding: 9px 15px;
                        cursor: pointer;
                        -webkit-transition: .15s;
                        transition: .15s;
                        background-color: #2d65c3;
                        display: block;
                        min-width: max-content;
                        &:hover{
                            background-color: #fff;
                            color: #2d65c3;
                            border-color: #2d65c3;
                        }
                    }

                    
                }
            }
        }
        .header_mobile{
            width: 100%;
            .menu_set{
                width: 100%;
                .container{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .logo{
                        max-width: 128px;
                    }
                }

                .btn_menu_mobile{
                    position: relative;
                    transition: 0.4s ease-in-out;
                    .item_menu {
                        position: relative;
                        background-color: black;
                        width: 30px;
                        height: 4px;
                        margin: 5px 0px;
                        border-radius: 15px;
                        transition: 0.4s ease-in-out;
                    }
                    &.active{
                        .item_menu.center {
                            opacity: 0;
                            transition: 0.4s ease-in-out;
                        }
    
                        .item_menu.top {
                            transform: translate3d(0px, 9px, 0px) rotate(45deg);
                            transition: 0.4s ease-in-out;
                        }
    
                        .item_menu.bottom {
                            transform: translate3d(0px, -9px, 0px) rotate(-45deg);
                            transition: 0.4s ease-in-out;
                        }
                    }
                }
            }
            .menu_move {
                background-color: white;
                width: 100%;
                position: fixed;
                right: 0;
                top: 80px;
                z-index: 888;
                opacity: 0.4;
                transform: translateX(100%);
                min-height: calc(100vh - 81px);
                height: calc(100vh - 81px);
                transition: 0.4s ease-in-out;
                &.active {
                    transform: translateX(0);
                    opacity: 1;
                    transition: 0.4s ease-in-out;
                }
                .container{
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 15px;
                    padding-top: 15px;
                    hr{
                        background-color: #667085;
                        height: 1px;
                        width: 100%;
                    }
                    .btn-signin{
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        height: 100%;
                        padding: 10px;
                        width: 100%;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        border-radius: 4px;
                        color: #fff;
                        border: 1px solid #2f80ed;
                        background: #2f80ed;
                        cursor: pointer;
                        font-size: 16px;
                        line-height: 24px;
                        -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, .05);
                        box-shadow: 0px 1px 2px rgba(16, 24, 40, .05);
                        gap: 10px;
                        svg{
                            path{
                                fill: white;
                            }
                        }
                        &:hover{
                            background-color: #fff;
                            color: #2d65c3;
                            border-color: #2d65c3;
                            svg{
                                path{
                                    fill: #2d65c3;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }

    .header .header_mobile {
        display: none;
    }

    @media (max-width: 993px) {
        .header .header_mobile {
            display: block;
        }

        .header .header_desk {
            display: none;
        }

    }
}